JWT_SECRET=ginza-payment-system-jwt-secret-v1
SUPABASE_URL=https://vgvnahcunvwigwaniejg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZndm5haGN1bnZ3aWd3YW5pZWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MDQ2MDgsImV4cCI6MjA4NzQ4MDYwOH0.qvv-O8mhmcpL1gDmP7kpd6mUzDvN1DZsqawy1KK2qCY
GOOGLE_SCRIPT_URL="https://script.google.com/macros/s/AKfycbxFM-RSvTv_36DR3SyzzwibbWlmIsuyWnrNdSZ9NcuRiFMP7xddIcEUDov_AoD77TxV/exec"
